@import "@jenn.fyi/ui/globals.css";
@import "@fontsource-variable/space-grotesk";
@import "@fontsource/fira-code";

.herosection {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	scroll-snap-align: start;
}
.herosection figure {
	display: flex;
	justify-content: center;
	margin-bottom: calc(var(--spacing) * 8);
	/* flex justify-center mb-8 md:mb-0 md:my-auto md:mr-8 */
}

.herosection > div:first-child {
	display: flex;
	flex-direction: column;
	/* flex flex-col md:flex-row */
}

@media (width >= 48rem) {
	.herosection > div:first-of-type {
		flex-direction: row;
	}
	.herosection figure {
		margin-bottom: 0;
		margin-block: auto;
		margin-right: calc(var(--spacing) * 8);
	}
}
